body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.blancoYnegro{
  filter:grayscale(100%);
  -webkit-filter:grayscale(100%);
}
.invertir{
  -webkit-filter:invert(.8);
  filter:invert(.8);
}
.sepia{
  -webkit-filter:invert(.8);
  filter:sepia(1);
}

.animal{
  width:250px;
  height:250px;
  margin:0;
}

h1{
  text-align: center;
}

#selector{
  position: relative;
  left: 40%;
  margin: 15px;
}
#imagenes{
  margin-right: auto;
  margin-left: auto;
  width: 790px;

}
